In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("C:\\Users\\jalpa\\Downloads\\covid_toy.csv")

In [5]:
df.sample(5)

    age  gender  fever   cough       city has_covid
56   71    Male    NaN  Strong    Kolkata        No
59    6  Female  104.0    Mild    Kolkata       Yes
52   47  Female  100.0  Strong  Bangalore       Yes
5    84  Female    NaN    Mild  Bangalore       Yes
72   83  Female  101.0    Mild    Kolkata        No

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.drop(columns = ['has_covid']), df['has_covid'], test_size = 0.2, random_state = 0)

In [10]:
x_train

    age  gender  fever   cough       city
43   22  Female   99.0    Mild  Bangalore
62   56  Female  104.0  Strong  Bangalore
3    31  Female   98.0    Mild    Kolkata
71   75  Female  104.0  Strong      Delhi
45   72    Male   99.0    Mild  Bangalore
..  ...     ...    ...     ...        ...
96   51  Female  101.0  Strong    Kolkata
67   65    Male   99.0    Mild  Bangalore
64   42    Male  104.0    Mild     Mumbai
47   18  Female  104.0    Mild  Bangalore
44   20    Male  102.0  Strong      Delhi

[80 rows x 5 columns]

In [11]:
y_train

43    Yes
62    Yes
3      No
71     No
45     No
     ...
96    Yes
67     No
64     No
47     No
44     No
Name: has_covid, Length: 80, dtype: object

In [14]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

In [17]:
transformer = ColumnTransformer(transformers = [
    ('tnf1', SimpleImputer(), ['fever']),
    ('tnf2', OrdinalEncoder(categories = [['Mild', 'Strong']]),['cough']),
    ('tnf3', OneHotEncoder(sparse_output = False, drop = 'first'), ['gender', 'city'])
], remainder = 'passthrough')

In [21]:
transformer.fit_transform(x_train).shape

(80, 7)

In [22]:
transformer.transform(x_test).shape

(20, 7)