# KNN Imputer

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [9]:
df = pd.read_csv("C:\\Users\\jalpa\\Downloads\\train.csv", usecols = ['Age', 'Pclass', 'Fare', 'Survived'])

In [10]:
df.sample(5)

     Survived  Pclass   Age     Fare
694         0       1  60.0  26.5500
287         0       3  22.0   7.8958
3           1       1  35.0  53.1000
757         0       2  18.0  11.5000
515         0       1  47.0  34.0208

In [11]:
df.isnull().mean() * 100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [12]:
x = df.drop(columns = ['Survived'])
y = df['Survived']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 2)

In [14]:
x_train.sample(5)

     Pclass   Age     Fare
134       2  25.0  13.0000
845       3  42.0   7.5500
868       3   NaN   9.5000
286       3  30.0   9.5000
114       3  17.0  14.4583

In [38]:
knn = KNNImputer(n_neighbors = 3, weights = 'distance')

x_train_trf = knn.fit_transform(x_train)

x_test_trf = knn.transform(x_test)

In [39]:
pd.DataFrame(x_train_trf, columns = x_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  26.151292    8.7125
709     1.0  71.000000   49.5042
710     1.0  32.666667  221.7792
711     1.0  49.762895   25.9250

[712 rows x 3 columns]

In [40]:
pd.DataFrame(x_train_trf, columns = x_train.columns).isnull().mean() * 100

Pclass    0.0
Age       0.0
Fare      0.0
dtype: float64

In [41]:
#Train model

lr = LogisticRegression()

lr.fit(x_train_trf, y_train)

y_pred = lr.predict(x_test_trf)

accuracy_score(y_test, y_pred)

0.7150837988826816

In [42]:
si = SimpleImputer()

x_train_trf2 = si.fit_transform(x_train)

x_test_trf2 = si.transform(x_test)

In [43]:
lr = LogisticRegression()

lr.fit(x_train_trf2, y_train)

y_pred2 = lr.predict(x_test_trf2)

accuracy_score(y_pred2, y_test)

0.6927374301675978