In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("C:\\Users\\jalpa\\Downloads\\play_tennis.csv")

In [3]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
df.drop(columns = ['day'], inplace = True)
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [6]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [7]:
py = 9/14
pn = 5/14

In [18]:
#Outlook
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [19]:
pon = 0
prn = 2/5
psn = 3/5

poy = 4/9
pry = 3/9
psy = 2/9

In [20]:
#temp
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [21]:
pcn = 1/5
phn = 2/5
pmn = 2/5

pyc = 3/9
phy = 2/9
pmy = 4/9

In [22]:
#humidity
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [23]:
phighn = 4/5
pnormaln = 1/5

phighy = 3/9
pnormaly = 6/9

In [24]:
#wind
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [25]:
pstrongn = 3/5
pwn = 2/5

pstrongy = 3/9
pwy = 6/9

In [27]:
pyes = py * psy * phy * phighy * pwy 
pyes

0.007054673721340388

In [28]:
pno = pn * psn * phn * phighn * pwn
pno

0.02742857142857143

### As here no probablity is greater then yes so here we will no play